*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
header{
    background:black;
    padding:15px;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:90%;
    margin:auto;
}

.logo{
    color:white;
}

.nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.nav a:hover{
    color:#38bdf8;
}

/* HERO */
.hero{
   
    color:red;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: bold;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: url(hh.png) no-repeat center center/cover;
    z-index: -1;
}






.hero h2  {
    font-size:15px;
     background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(15px); /* The "Frosted" effect */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: yellow;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);


}

.hero p{
    margin:15px;
    font-size:20px;
    color: yellow;
}

.btn{
    display:flex;
    gap:20px;
   
    background:greenyellow;
    color:blue;
    padding:12px 25px;
    text-decoration:none;
    border-radius:25px;
    font-weight:bold;
}

.btn:hover {
    background: yellow;
    color: black;
}



/* SERVICES */
.services{
    
    padding:60px;
    text-align:center;
    color: white;
}

.service-box{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:30px;
}

.card{
     background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
     color: ;
    padding:25px;
    width:250px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

/* CONTACT */
.contact{
    background:transparent;
   
    color:white;
    text-align:center;
    padding:50px;
}




.contact-links a{
    display:inline-block;
    margin:15px;
    padding:12px 20px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:15px;
   background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    color:white;
}