* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma bold, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: url(image3.png) no-repeat center center/cover;
    z-index: -1;
}



/* website content */
.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
    font-size:40px;
}


/* Glassmorphism Card */
.login-container {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(15px); /* The "Frosted" effect */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Input Fields */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    outline: none;
    color: #fff;
    font-size: 1rem;
}

.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input-group i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
}

/* Options Row */
.form-options {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.form-options a {
    color: #fff;
    text-decoration: none;
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: yellow;
    color: black;
}

/* Register Text */
.register-text {
    margin-top: 20px;
    font-size: 0.9rem;
}

.register-text a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.h2 {
    margin-top: 20px;
    font-size: 0.9rem;
    color: ;
    font-weight: bold;
    text-decoration: none;
}
